.btn-login{
background-color: #8D1515;
padding-left: 170px;
padding-right: 170px;
}
.login-button{
    padding-left: 200px;
    padding-right: 200px;
}
.recruiter-login{
    margin-bottom: 150px;
    
}
